html {
    font-size: 100%;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-size: $fontSize;
    font-family: $manRope;
    line-height: 1.5;
    scroll-behavior: none;
}

.leaflet-popup {
    &-content-wrapper, &-tip {
        background-color: $darkGray;
        color: #ffffff;
    }
}

.workout-cycling {
    border-left: 5px solid $darkOrange;
}

.workout-running {
    border-left: 5px solid $indigo
}

.popup-cycling {
    .leaflet-popup-content-wrapper {
        border-left: 5px solid $darkOrange;
    }
}

.popup-running {
    .leaflet-popup-content-wrapper {
        border-left: 5px solid $indigo;
    }
}

.popup {
    // font-size: calc(12px + 4 * ((100vw - 375px) / (807 - 375)));
    font-size: rem(16);

    @include responsive(large) {
        font-size: rem(14);
    }

    @include responsive(small) {
        font-size: rem(12);
    }
}